html, body, input, span, textarea {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.menu, .content {
    padding: 0 15px 0 15px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

input, textarea {
    border: none;
    border-color: transparent;
}

.invalid {
    outline-color: orangered !important;
}

.editable {
    background-color: yellow;
}

.loading {
    color: grey;
    font-style: italic;
    cursor: wait;
}

.icon {
  height: 16px;
  width: 16px;
  display: inline-block;
}

.icon-pen {
  background-image: url('pen-blue.svg');
}
